@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "display:none;" }))
    {
        @Html.AntiForgeryToken()
    }
    <li><img src="~/Content/Images/spock.png" alt="Spock" /></li>
    <li>@Html.ActionLink("New Vacation property", "Create", "VacationProperties")</li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
}
else
{
    <li>@Html.ActionLink("Sign Up", "Register", "Account", null, new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log In", "Login", "Account", null, new { id = "loginLink" })</li>
}