@{
    ViewBag.CssBody = "cover";
}

@section hero
{
<div class="hero-text full-page">
    <h1>Lodging fit for a captain</h1>
    <p>The Next Generation of vacation rentals.</p>

    <a class="btn btn-transparent btn-lg" href="/properties/"> View Properties </a>
</div>
}
