.chapter(data-title='Masked Numbers')
  .step(data-title='About This Application', data-file='AirTNG.Web/Domain/Reservations/Notifier.cs')
    :markdown
      ## About This Application

      ![Airtng](//howtodocs.s3.amazonaws.com/airtng-screen.png)

      This [ASP.NET](//www.asp.net/mvc) sample application is modeled after the
      amazing rental experience created by [AirBnB](//www.airbnb.com), but with
      more [Klingons](//en.wikipedia.org/wiki/Klingon).

      Host users can offer rental properties which other guest users can
      reserve. The guest and the host can then anonymously communicate via a
      disposable Twilio phone number created just for a reservation. In this
      tutorial, we'll show you the key bits of code to make this work.

      To run this sample app yourself, download the code and follow the
      [instructions on
      GitHub](//github.com/TwilioDevEd/airtng-csharp/tree/masked-numbers).

      Let's get started! Click the right arrow above to move to the next step
      of the tutorial.

      ---

      **See Also:**

      * [AirTNG App Part One: Workflow Automation](//github.com/TwilioDevEd/airtng-csharp)
      * [Getting Started with ASP.NET MVC](//www.asp.net/mvc/overview/getting-started/introduction/getting-started)
      * [Entity Framework](//www.asp.net/entity-framework)
      * [ASP.NET Identity](//www.asp.net/identity)
      * [The Twilio C# Helper Library](//www.twilio.com/docs/csharp/install)
