@model AirTNG.Web.ViewModels.VacationPropertyViewModel

@section nav_bg
{
    <!-- Nav Bar -->
    <nav class="navbar navbar-space">
    </nav>
}

<div class="container">
    <h1>New Vacation Property</h1>

    @Html.Partial("_Form", Model)

    @Html.ActionLink("Back", "Index", "VacationProperties")
</div>
