@model AirTNG.Web.Models.VacationProperty

<div class="container">
    <h1>Edit Vacation Property</h1>

    @Html.Partial("_Form", Model)

    @Html.ActionLink("Back", "Index", "VacationProperties")
</div>
