@model IList<AirTNG.Web.Models.VacationProperty>

@section hero
{
    <div class="hero-text">
        <h1>Lodging fit for a captain</h1>
        <p>The Next Generation of vacation rentals.</p>
    </div>
}

<div class="container">
    <div class="row">
        @foreach (var vacationProperty in Model)
        {
            <div class="col-md-4">
                <a href="#" class="property">

                    <img src="@vacationProperty.ImageUrl" alt="Vacation Property" />
                    <h2>@vacationProperty.Description</h2>
                </a>
            </div>
        }
    </div>
</div>